[MESSAGES CONTROL]
disable =
    C0301,  # line-too-long
    C0303,  # trailing-whitespace
    C0305,  # trailing-newlines
    C0321,  # multiple-statements
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
